include head.jade
    title Account
  body
    div(class="radio-button radio-right" id="liveLinkButton") Add Bank Account
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="https://cdn.plaid.com/link/stable/link-initialize.js")
    script(src="/js/accounts.js") 