doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Account
  body 
    ul
      each account in model.accounts
        li 
          b Name: 
          | #{account.name}
    div(class="radio-button radio-right" id="liveLinkButton") Add Bank Account
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="https://cdn.plaid.com/link/stable/link-initialize.js")
    script(src="/js/accounts.js") 